%tab-focus {
  outline: thin dotted $warning-color;

  outline: 5px auto $warning-color;
  outline-offset: -2px;
}

@function em($target, $context: $doc-font-size) {
  @return ($target / $context) * 1em;
}

@mixin clearfix {
  clear: both;

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
